

.block {
    height: 140px;
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: red;
    animation: colorAnim 60s linear forwards;
  }
  @keyframes colorAnim {
    50% {
      background-color: rgb(0, 255, 0);
    }
    100% {
      background-color: rgb(179, 0, 255);
    }
  }

  @media all and (max-width: 1000px) {
.block {
     width: 100%;
    }
}

  @media all and (max-width: 780px) {
.block {
     height: 100%;
     width: 100%;
    }
}